# --- Virtual Environment ---
# Ignore the virtual environment folder, which contains installed packages.
venv/
*.venv
env/


# --- Environment Variables ---
# Ignore the .env file to keep secret API keys out of version control.
.env
client_secret.json
token.json
token.pickle

# --- Python ---
# Ignore Python's compiled bytecode and cache folders.
__pycache__/
*.pyc
backend/__pycache__/
frontend/node_modules/
frontend/dist/

# --- Temporary Files ---
# Ignore temporary files generated during the pipeline
temp/
*.log

# --- IDE / OS Specific ---
.DS_Store


node_modules
